<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10H575</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-database.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.db</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-visual.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.visual</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-playlist.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.m3u-playlist</string>
				<string>com.apple.iTunes.pls-playlist</string>
				<string>public.m3u-playlist</string>
				<string>public.pls-playlist</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-playlist.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.rmp-playlist</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mp3.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mp3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mp2.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.mp2</string>
				<string>public.mp2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-aiff.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aiff-audio</string>
				<string>public.aifc-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-wav.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.waveform-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mpg.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-sd2.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.digidesign.sd2-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-nvf.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.nvf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-movie.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicktime-movie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-cd.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.cdda</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-audible.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.audible.aa-audio</string>
				<string>com.apple.iTunes.audible</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mpeg4.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>ICBaseRule</key>
			<string>iconcompiler.generic</string>
			<key>ICExtension</key>
			<string>MPEG 4</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4-audio</string>
				<string>com.apple.m4a-audio</string>
				<string>com.apple.protected-mpeg-4-video</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mpeg4p.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>ICBackgroundImage</key>
			<string>LockIcon</string>
			<key>ICExtension</key>
			<string>MPEG 4</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.protected-mpeg-4-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-ringtone.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mpeg-4-ringtone</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-itms.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.itms</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-generic.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.podcast</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-ipg.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.ipg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-ite.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.ite</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-itlp.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.itlp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-ipsw.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.ipsw</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-ipa.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iTunes.ipa</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>iTunes</string>
	<key>CFBundleGetInfoString</key>
	<string>iTunes 10.7, © 2000-2012 Apple Inc. All rights reserved.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>iTunes.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.iTunes.help</string>
	<key>CFBundleIconFile</key>
	<string>iTunes.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iTunesTenDotSeven</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iTunes</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.7</string>
	<key>CFBundleSignature</key>
	<string>hook</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iTunes Remote Library URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>daap</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iTunes Music Store URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>itms</string>
				<string>itmss</string>
				<string>itunes</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iTunes Podcast URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pcast</string>
				<string>itpc</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iTunes Live Stream URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>itls</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10.7</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
		<string>i386</string>
	</array>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocCorruptionAbort</key>
		<string>1</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.8</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.6.8</string>
		<key>x86_64</key>
		<string>10.7.0</string>
	</dict>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>iTunes 10.7, © 2000-2012 Apple Inc. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>ITNSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CD Track</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.cdda</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AIFC</string>
				<key>public.filename-extension</key>
				<string>cdda</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Audible audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.audible</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>AUDB</string>
					<string>AUDX</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>aa</string>
					<string>aax</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/audible</string>
					<string>audio/x-audible</string>
					<string>audio/vnd.audible.aax</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CD Track</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.cdda</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AIFC</string>
				<key>public.filename-extension</key>
				<string>cdda</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.url</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iTunes Music Store URL</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.itms</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>itms</string>
				<key>public.filename-extension</key>
				<string>itms</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.url</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Podcast Subscription File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.podcast</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>pcst</string>
					<string>itpc</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>pcast</string>
					<string>itpc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.executable</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPod Game File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.ipg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ipg </string>
				<key>public.filename-extension</key>
				<string>ipg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.html</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iTunes Extra</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.ite</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ite </string>
				<key>public.filename-extension</key>
				<string>ite</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.html</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iTunes LP</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.itlp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>itlp</string>
				<key>public.filename-extension</key>
				<string>itlp</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.executable</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Apple Device Software Update File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.ipsw</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ipsw</string>
				<key>public.filename-extension</key>
				<string>ipsw</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.executable</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iOS App</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.ipa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ipa </string>
				<key>public.filename-extension</key>
				<string>ipa</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ringtone</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mpeg-4-ringtone</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>M4R </string>
				<key>public.filename-extension</key>
				<string>m4r</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.database</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iTunes Database File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.db</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>hkdb</string>
				<key>public.filename-extension</key>
				<string>itl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.plugin</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iTunes Visual Plugin</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.visual</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>hvpl</string>
				<key>public.filename-extension</key>
				<string>hvpl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.playlist</string>
			</array>
			<key>UTTypeDescription</key>
			<string>M3U Playlist</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.m3u-playlist</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>MP3U</string>
				<key>public.filename-extension</key>
				<array>
					<string>m3u</string>
					<string>m3u8</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-mpegurl</string>
					<string>audio/mpegurl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.playlist</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PLS Playlist</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.pls-playlist</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>pls</string>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-scpls</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.audio</string>
			<key>UTTypeDescription</key>
			<string>MP2 audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.mp2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>MPG2</string>
				<key>public.filename-extension</key>
				<string>mp2</string>
				<key>public.mime-type</key>
				<array>
					<string>audio/mpeg</string>
					<string>audio/x-mpeg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.xml</string>
			<key>UTTypeDescription</key>
			<string>iTunes metadata</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.itunes.metadata</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>itun</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.file-url </string>
			<key>UTTypeDescription</key>
			<string>iTunes iApp Compatibility</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.itunes.iappurl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>HUfl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.file-url </string>
			<key>UTTypeDescription</key>
			<string>iTunes iApp Compatibility 32-bit</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.itunes.iappfsspec</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Hpfl</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.playlist</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RMP Playlist</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.rmp-playlist</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>rmp</string>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.rn-rn_music_package</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NVF audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.nvf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>NVF </string>
				<key>public.filename-extension</key>
				<string>nvf</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
