<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SortPrefixes</key>
	<array>
		<string>the </string>
		<string>a </string>
		<string>an </string>
		<string>un </string>
		<string>o </string>
		<string>unui </string>
		<string>unei </string>
		<string>niște </string>
		<string>unor </string>
	</array>
</dict>
</plist>
